.TableContainer {
  display: flex;
  flex-direction: column;
  height: 100%;
  /* width: 100%; */
}

.TableContainer__AddUsersBlock {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 32px;

  /* border: 1px solid; */

  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 28px;
  /* width: 100%; */
}
